<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <title>Amadeus Travel Restrictions</title>
  <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="jquery-ui.structure.min.css">
  <link rel="stylesheet" type="text/css" href="jquery-ui.theme.min.css">
  <link rel="icon" href="data:,">
  <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="row h-100">
    <div class="col-md-4">
      <h3 class="text-primary">United States
      </h3>
      <p class="text-danger"><%- JSON.stringify(country.diseaseRiskLevel).replace(/['"]+/g, '')%> risk
      </p>
      <p>Cases: <%- JSON.stringify(country.diseaseCases.confirmed) %>
      </p>
      <p>Deaths: <%-JSON.stringify(country.diseaseCases.deaths) %>
      </p>
      <p><span class="font-weight-bold">Documents to enter the US</span><%- JSON.stringify(country.areaAccessRestriction.declarationDocuments.text).replace(/['"]+/g, '') %>
      </p>
      <p><span class="font-weight-bold">Tests to enter the US</span> <%- JSON.stringify(country.areaAccessRestriction.diseaseTesting.text).replace(/"/g, '') %>
      </p>
    </div>
    <div id="map" class="col-md-8">
    </div>
  </div>
  <script>

    function addMarkerToGroup(group, coordinate, html) {
      var marker = new H.map.Marker(coordinate);
      marker.setData(html);
      group.addObject(marker);
    }

    function addInfoBubble(map) {
      var group = new H.map.Group();
      map.addObject(group);
      var cities = <%- JSON.stringify(cities) %>
      var i;
      for (i = 0; i < cities.length; i++) {
        try {
          cityName = cities[i]['cityCode'];
          cityLat = cities[i]['lat'];
          cityLng = cities[i]['lng'];
          addMarkerToGroup(group, {
            lat: cityLat,
            lng: cityLng
          },
            cityName
          );
        } catch (error) {
          console.log(error);
        }
      }

      group.addEventListener('tap', function (evt) {
        $(document).ready(function () {
          var cityCode = evt.target.getData();
          $.ajax({
            method: 'GET',
            url: "/search",
            data: {
              'cityCode': cityCode
            },
            success: function (data) {
              console.log(data)
              if (data.subAreas) {
                var bubble = new H.ui.InfoBubble(evt.target.getGeometry(), {
                content: '<div>' + JSON.stringify(data.subAreas[0].summary).replace(/['"]+/g, '') + '</div>'
              }); 
              } else {
                var bubble = new H.ui.InfoBubble(evt.target.getGeometry(), {
                content: '<div> No special restrictions defined. </div>'
                }); 
              }
              ui.addBubble(bubble);
            },
            error: function (data) {
              console.log("Travel Restrictions API - Error");
            }
          });
        });
      }, false);

    }

    var platform = new H.service.Platform({
      apikey: "<%= here_api_key %>"
    });
    var defaultLayers = platform.createDefaultLayers();

    var map = new H.Map(document.getElementById('map'),
      defaultLayers.vector.normal.map, {
      center: {
        lat: 37.090240
        , lng: -95.712891
      },
      zoom: 4,
      pixelRatio: window.devicePixelRatio || 1
    });

    window.addEventListener('resize', () => map.getViewPort().resize());
    var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
    var ui = H.ui.UI.createDefault(map, defaultLayers);
    addInfoBubble(map);
  </script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>